{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/dados.css'%}">
    <title>Document</title>
</head>

<body>

    <header class="menu">

        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="dados/">Dados</a></li>
        </ul>

    </header>


    <div class="topo">

        <form class="select-mes" method="get">
            <label for="mes">Mês</label>

            <select name="mes" id="mes" onchange="this.form.submit()">
                {% for numero, nome in meses %}
                <option value="{{ numero }}" {% if numero == mes_selecionado %}selected{% endif %}>
                    {{ nome }}
                </option>
                {% endfor %}
            </select>
        </form>

        <div class="centrais">
            <div class="t-receitas">
            <h3>Receita total</h3>
            <p>R$ {{ receita_mes }}</p>
        </div>

        <div class="t-despesas">
            <h3>Despesa total</h3>
            <p>R$ {{ despesa_mes }}</p>
        </div>
        </div>
        

        <div class="info-1">
            <div class="mes-receita">
                <p>Mês mais lucrativo: <strong>{{ mes_maior_receita }} - R${{ valor_maior_receita }}</strong></p>
            </div>
            <div class="mes-despesa">
                <p>Mês de maior despesa: <strong>{{ mes_maior_despesa }} - R${{ valor_maior_despesa }}</strong></p>
            </div>
        </div>
        

    </div>

    <div class="graficos-topo">

        <div class="g_1">
            {{ g_1|safe }}
        </div>

        <div class="g_2">
            {{ g_2|safe }}
        </div>

        <div class="g_3">
            {{ g_3|safe }}
        </div>

    </div>




</body>

</html>