{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/home.css'%}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <title>Controle Financeiro</title>
</head>

<body>

    <header class="menu">

        <ul>
            <li><a href="">Início</a></li>
            <li><a href="dados/">Dados</a></li>
        </ul>

    </header>

    <section class="forms-section">

        <div class="exb-tran">

            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="tipo_form" value="deletar_tran">
                {% if transacoes %}

                {% for transacao in transacoes %}

                {% if transacao.categoria.tipo == 'receita' %}

                <div class="info-tran">
                    <div class="info-tran-1">
                        <input type="checkbox" name="ids_para_deletar_tran" value="{{ transacao.id }}"
                            id="tran{{ transacao.id }}">
                        <label for="tran{{ transacao.id }}">{{ transacao.descricao }}</label>
                        <p>{{ transacao.data.mes }}</p>
                    </div>

                    <p style="color: green">+ R${{ transacao.valor }}</p>
                </div>

                {% else %}

                <div class="info-tran">
                    <div class="info-tran-1">
                        <input type="checkbox" name="ids_para_deletar_tran" value="{{ transacao.id }}"
                            id="tran{{ transacao.id }}">
                        <label for="tran{{ transacao.id }}">{{ transacao.descricao }}</label>
                    </div>

                    <p style="color: rgb(185, 0, 0);">- R${{ transacao.valor }}</p>
                </div>

                {% endif %}

                {% endfor %}

                <div class="btns">
                    <button type="submit">Deletar</button>
                </div>

                {% else %}

                <h3>Sem transações</h3>

                {% endif %}



            </form>

        </div>


        <div class="formularios">

            <!-- ======================================
                    TRANSAÇÕES
        ====================================== -->

            <div class="area-tran">
                
                <form method="post" class="form-container">
                    {% csrf_token %}
                    <!-- input pra especificar -->
                    <input type="hidden" name="tipo_form" value="transacao">

                    <div class="btn-info-tran">
                        <i class="bi bi-info-circle" onclick="exibirInfoTran(event)"></i>
                    </div>

                    <div class="caixa-info-tran">
                        <p>Aqui você cadastra transações, de quaquer tipo, uma compra online ou pequena receita, tudo o que você considera relevante para monitorar seu financeiro.</p>
                    </div>
                    

                    <h2>Nova Transação</h2>

                    <label for="descricao">Descrição</label>
                    <input type="text" id="descricao" name="descricao_t" maxlength="100" required>

                    <label for="valor">Valor (R$)</label>
                    <input type="number" id="valor" name="valor" step="0.01" required>

                    <label for="data">Data</label>
                    <input type="date" id="data" name="data" required>

                    <label for="categoria">Categoria</label>
                    <select id="categoria" name="categoria" required>
                        <option value="">Selecione</option>
                        {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">
                            {{ categoria.nome }} ({{ categoria.get_tipo_display }})
                        </option>
                        {% endfor %}
                    </select>

                    <label for="conta">Conta</label>
                    <select id="conta" name="nome_conta" required>
                        <option value="">Selecione</option>
                        {% for conta in contas %}
                        <option value="{{ conta.id }}">{{ conta.nome }}</option>
                        {% endfor %}
                    </select>

                    <label for="observacoes">Observações</label>
                    <textarea id="observacoes" name="observacoes" rows="4"></textarea>

                    <div class="btns">
                        <button type="submit">Salvar Transação</button>
                    </div>

                </form>
            </div>

            <div class="forms-direita">

                <!-- ======================================
                            CATEGORIAS
                ====================================== -->

                <div class="caixa-categoria">

                    <form method="post" class="form-container">
                        {% csrf_token %}
                        <!-- input pra especificar -->
                        <input type="hidden" name="tipo_form" value="categoria">

                        <div class="btn-info-cate">
                            <i class="bi bi-info-circle" onclick="exibirInfoCate(event)"></i>
                        </div>

                        <div class="caixa-info-cate">
                            <p>Aqui você pode inserir categorias para tipos de desepesas e receitas</p>

                            <p>Exemplo: Gastos médicos, tipo: despesa</p>
                        </div>

                        <h2>Nova Categoria</h2>

                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome_cat" maxlength="100" required>

                        <label for="descricao">Descrição</label>
                        <textarea id="descricao" name="descricao_cat" rows="3"></textarea>

                        <label for="tipo">Tipo</label>
                        <select id="tipo" name="tipo" required>
                            <option value="">Selecione</option>
                            <option value="receita">Receita</option>
                            <option value="despesa">Despesa</option>
                        </select>

                        <div class="btns">
                            <button type="submit">Salvar</button>
                            <button type="button" onclick="abrirModalOpcs()">Opções</button>
                        </div>

                    </form>

                    <!-- DIV OPÇÕES -->
                    <div class="caixa-opcoes">

                        <h3>Categorias</h3>

                        {% for categoria in categorias %}
                        <div class="opcs-categorias">

                            <!-- VISUAL -->
                            <div>
                                <span>{{ categoria.nome }} ({{ categoria.tipo }})</span>
                            </div>

                        </div>
                        {% endfor %}


                        <div class="btns-opcoes">
                            <button class="btn-editar" type="button" onclick="abrirModalEditar()">Editar</button>
                            <button class="btn-excluir" type="button" onclick="abrirModalExcluir()">Excluir</button>
                            <button class="btn-voltar" type="button" onclick="fecharOpcs()">Voltar</button>
                        </div>
                    </div>

                    <!-- DIV EDIÇÃO -->
                    {% if categorias %}
                    <div class="caixa-editar">
                        <h3>Selecione para edição</h3>

                        {% for categoria in categorias %}
                        <div class="opcs-categorias" id="cat-{{ categoria.id }}">

                            <!-- VISUAL -->
                            <div class="view-mode">
                                <span>{{ categoria.nome }} ({{ categoria.tipo }})</span>

                                <span class="icone-editar" onclick="editarCategoria('{{ categoria.id }}')">
                                    <i class="bi bi-pencil"></i>
                                </span>
                            </div>

                            <!-- FORM DE EDIÇÃO -->
                            <form method="post" class="edit-mode" style="display:none;">
                                {% csrf_token %}
                                <input type="hidden" name="tipo_form" value="editar_categoria">
                                <input type="hidden" name="categoria_id" value="{{ categoria.id }}">

                                <input type="text" name="novo_nome" value="{{ categoria.nome }}" required>

                                <select name="novo_tipo" required>
                                    <option value="receita" {% if categoria.tipo == "receita" %}selected{% endif %}>
                                        Receita
                                    </option>
                                    <option value="despesa" {% if categoria.tipo == "despesa" %}selected{% endif %}>
                                        Despesa
                                    </option>
                                </select>

                                <div class="btns-edit">
                                    <button type="submit">Salvar</button>
                                    <button type="button" onclick="cancelarEdicao('{{ categoria.id }}')">
                                    Cancelar
                                    </button>
                                </div>
                                
                            </form>

                        </div>
                        {% endfor %}

                        <div class="btns-opcoes">
                            <button type="button" onclick="fecharEdit()">Cancelar</button>
                        </div>

                    </div>


                    {% else %}
                    <div class="caixa-editar">
                        <h3>Não há categorias para editar</h3>

                        <div class="btns-opcoes">
                            <button class="btn-editar-cancelar" type="button" onclick="fecharEdit()">Voltar</button>
                        </div>
                        
                    </div>

                    {% endif %}

                    <!-- DIV EXCLUIR -->
                    {% if categorias %}
                    <div class="caixa-excluir">
                        <h3>Selecione para excluir</h3>

                        <!-- FORM de exclusão -->
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_form" value="deletar_categorias">

                            <div class="lista-categorias" id="listaCategorias">
                                {% for categoria in categorias %}
                                <div class="opcs-categorias">

                                    <label for="cat{{ categoria.id }}">
                                        {{ categoria.nome }} ({{ categoria.tipo }})
                                    </label>

                                    <input type="checkbox" class="checkbox-excluir" name="ids_para_deletar"
                                        value="{{ categoria.id }}" id="cat{{ categoria.id }}">

                                </div>
                                {% endfor %}
                            </div>

                            <div class="btns-opcoes">
                                <button class="btn-deletar" type="submit">Deletar</button>
                                <button class="btn-excluir-cancelar" type="button"
                                    onclick="fecharExcluir()">Cancelar</button>
                            </div>


                        </form>

                    </div>

                    {% else %}

                    <div class="caixa-excluir">
                        <h3>Não há categorias para excluir</h3>

                        <div class="btns-opcoes">
                            <button class="btn-excluir-cancelar" type="button" onclick="fecharExcluir()">Voltar</button>
                        </div>
                        
                    </div>

                    {% endif %}

                </div>

                <!-- ======================================
                            CONTAS
                 ====================================== -->
                <div class="caixa-conta">

                    <form method="post" class="form-container">
                        {% csrf_token %}
                        <!-- input pra especificar -->
                        <input type="hidden" name="tipo_form" value="contas">

                        <div class="btn-info-cont">
                            <i class="bi bi-info-circle" onclick="exibirInfoCont(event)"></i>
                        </div>

                        <div class="caixa-info-cont">
                            <p>Aqui você pode inserir contas bancarias de onde você movimenta seu dinheiro, ou se preferir, adicionar uma conta ilustrativa para movimentações gerais.</p>
                        </div>

                        <h2>Nova Conta</h2>

                        <label for="nome">Nome da Conta</label>
                        <input type="text" id="nome" name="nome_conta" maxlength="20" required>

                        <label for="saldo_inicial">Saldo Inicial (R$)</label>
                        <input type="number" id="saldo_inicial" name="saldo_inicial" step="0.01">

                        <div class="btns">
                            <button type="submit">Salvar</button>
                            <button type="button" onclick="abrirModalOpcsConta()">Opções</button>

                        </div>

                    </form>

                    <!-- DIV OPCOES -->
                    <div class="caixa-opcoes-conta">

                        <h3>Contas</h3>

                        {% for conta in contas %}
                        <div class="opcs-contas">

                            <!-- VISUAL -->
                            <div>
                                <span>{{ conta.nome }} R$({{ conta.saldo_inicial }})</span>
                            </div>

                        </div>
                        {% endfor %}


                        <div class="btns-opcoes">
                            <button class="btn-editar" type="button" onclick="abrirModalEditarConta()">Editar</button>
                            <button class="btn-excluir" type="button" onclick="abrirModalExcluirConta()">Excluir</button>
                            <button class="btn-voltar" type="button" onclick="fecharOpcsConta()">Voltar</button>
                        </div>

                    </div>

                    <!-- EDITAR CONTA -->
                    {% if contas %}
                    <div class="caixa-editar-conta">
                        <h3>Selecione para edição</h3>

                        {% for conta in contas %}
                        <div class="opcs-contas" id="cont-{{ conta.id }}">

                            <!-- VISUAL -->
                            <div class="view-mode">
                                <span>{{ conta.nome }} R$({{ conta.saldo_inicial }})</span>

                                <span class="icone-editar" onclick="editarConta('{{ conta.id }}')">
                                    <i class="bi bi-pencil"></i>
                                </span>
                            </div>

                            <!-- FORM DE EDIÇÃO -->
                            <form method="post" class="edit-mode" style="display:none;">
                                {% csrf_token %}
                                <input type="hidden" name="tipo_form" value="editar_conta">
                                <input type="hidden" name="conta_id" value="{{ conta.id }}">

                                <input type="text" name="novo_nome_conta" value="{{ conta.nome }}" required>

                                <input type="number" name="novo_saldo_i" value="{{ conta.saldo_inicial }}">

                                <div class="btns-edit">
                                    <button type="submit">Salvar</button>
                                    <button type="button" onclick="cancelarEditConta('{{ conta.id }}')">
                                    Cancelar
                                    </button>
                                </div>
                                
                            </form>

                        </div>
                        {% endfor %}

                        <div class="btns-opcoes">
                            <button type="button" onclick="fecharEditConta()">Cancelar</button>
                        </div>

                    </div>


                    {% else %}
                    <div class="caixa-editar-conta">
                        <h3>Não há contas para editar</h3>

                        <div class="btns-opcoes">
                            <button class="btn-editar-cancelar" type="button" onclick="fecharEditConta()">Voltar</button>
                        </div>
                        
                    </div>

                    {% endif %}

                    <!-- Div Excluir conta -->
                    {% if contas %}
                    <div class="caixa-excluir-conta">
                        <h3>Selecione para excluir</h3>

                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_form" value="deletar_contas">

                            {% for conta in contas %}
                            <div class="opcs-contas">
                                <label for="cont{{ conta.id }}">{{ conta.nome }}</label>
                                <input type="checkbox" name="ids_para_deletar_conta" value="{{ conta.id }}"
                                    id="cont{{ categoria.id }}">
                            </div>
                            {% endfor %}

                            <div class="btns-excluir">
                                <button type="submit">Deletar</button>
                                <button type="button" onclick="fecharExcluirConta()">Voltar</button>                              
                            </div>

                        </form>

                    </div>

                    {% else %}

                    <div class="caixa-excluir-conta">
                        <h3>Não há contas para excluir</h3>
                        <button type="button" onclick="fecharExcluirConta()">Voltar</button>
                    </div>

                    {% endif %}

                </div>

            </div>

        </div>

        <div class="vazia">

        </div>

    </section>


</body>

<script src="{% static 'core/js/home.js' %}" defer></script>

</html>