/* ======================================
                GERAL
======================================  */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    /* padding: 40px; */
}

/* ======================================
                MENU
======================================  */

header{
    border-bottom: 1px solid black;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu ul{
    padding: 0 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.menu ul li a{
    text-decoration: none;
}

/* ======================================
                 TOPO
======================================  */
.topo{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;

}
.t-receitas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 150px;
    border-bottom: 2px solid green;
    padding: 20px 5px;
}
.t-despesas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 150px;
    border-bottom: 2px solid rgb(128, 0, 0);
    padding: 20px 5px;
}

/* ======================================
                GRAFICOS
======================================  */
.graficos-topo{
    justify-content: center;
    display: flex;
    margin-top: 30px;
    width: 100%;
    gap: 20px;
}

.g_1{
    width: 450px;
    max-height: 450px;
    border-top: 2px solid rgb(66, 66, 66);
}
.g_2{
    width: 450px;
    max-height: 450px;
    border-top: 2px solid rgb(66, 66, 66);
}