/* ======================================
                GERAL
======================================  */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    /* padding: 40px; */
}





/* ======================================
                MENU
======================================  */

header{
    border-bottom: 1px solid black;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu ul{
    padding: 0 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.menu ul li a{
    text-decoration: none;
}


