/* ======================================
                GERAL
======================================  */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    /* padding: 40px; */
}

section.forms-section{
    padding: 50px 0;

    display: flex;
    justify-content: center;      /* centraliza o bloco de formulários */
    align-items: flex-start;
    gap: 50px;                    /* espaço entre transações e formulários */
    padding: 40px;

}


.form-container {
    width: 300px;
    /* max-width: 420px; */
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Labels */
.form-container label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

/* Inputs */
.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-container textarea {
    resize: none;
}

.formularios{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.forms-direita{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.btns{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

}
.form-container button{
    width: 100%;
    padding: 10px;
    background-color: #2c7be5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.btns button:hover{
    background-color: #1a68d1;
}

.btns a{
    display: flex;
    flex-wrap: nowrap;
}

.vazia{
    min-width: 0;
    width: 200px;
    height: 200px;
}

/* ======================================
                MENU
======================================  */

header{
    border-bottom: 1px solid black;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu ul{
    padding: 0 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.menu ul li a{
    text-decoration: none;
}


/* ======================================
                TRANSACAO
======================================  */

.area-tran{
    width: 300px;
    text-align: left;             /* texto à esquerda */
}

/* INFORMAÇÕES */
.exb-tran{
    width: 200px;
    margin-top: 30px;
}

.info-tran{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.info-tran h3{
    margin: 0 0;
}
.info-tran p{
    margin: 5px 0;
}

.info-tran-1{
    display: flex;
    gap: 5px;
}


/* ======================================
                CATEGORIA
======================================  */
.caixa-categoria{
    display: flex;
    gap: 10px;
}

.btns-excluir{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Base */
.opcs-categorias {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}


/* ===== MODO EDITAR ===== */
.modo-editar .icone.editar {
    display: inline;
    cursor: pointer;
}

/* ===== MODO EXCLUIR ===== */
.modo-excluir .icone.excluir,
.modo-excluir .checkbox-excluir {
    display: inline;
    cursor: pointer;
}

.btns-opcoes{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btns-opcoes button{
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    background-color: #2c7be5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.caixa-opcoes{
    display: none;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 120px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.caixa-editar{
    display: none;
    max-width: 420px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.icone-editar{
    cursor: pointer;
}

.btns-edit{
    display: flex;
    gap: 5px;
}
.btns-edit button{
    padding: 10px;
    background-color: #2c7be5;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.caixa-excluir{
    display: none;
    max-width: 420px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* ======================================
                CONTAS
======================================  */
.caixa-conta{
    display: flex;
    gap: 10px;
}
.caixa-excluir-conta{
    display: none;
    max-width: 420px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.caixa-excluir-conta button{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    background-color: #2c7be5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}