* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    /* padding: 40px; */
}

header{
    border-bottom: 1px solid black;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.menu ul li a{
    text-decoration: none;
}

section.forms-section{
    padding: 50px 0;
}


.form-container {
    max-width: 420px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-container textarea {
    resize: vertical;
}

.form-container button {
    width: 100%;
    /* margin-top: 20px; */
    padding: 10px;
    background-color: #2c7be5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #1a68d1;
}


.formularios{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.forms-direita{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.btns{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.btns a{
    display: flex;
    flex-wrap: nowrap;
}

.caixa-categoria{
    display: flex;
    gap: 10px;
}
.caixa-excluir{
    display: none;
    max-width: 420px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.caixa-excluir button{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    background-color: #2c7be5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btns-excluir{
    display: flex;
    align-items: center;
    gap: 20px;
}

